spacy
pandas
numpy
xgboost
scikit-learn
mysql-connector-python
flask

https://gitlab.com/trungtv/vi_spacy/-/raw/master/packages/vi_core_news_lg-3.6.0/dist/vi_core_news_lg-3.6.0.tar.gz
pyvi
fastapi
uvicorn
mysql-connector-python
py-eureka-client